:root {
    --black: #120C14;
    --black-second: #241828;
    --white: #F9F1FF;
    --purple-dark: #560855;
    --purple-mid: #A3268F;
    --purple-light: #A979B0;
    --tag-green: #146284;
    --tag-purple-dark: #6B0C5C;
    --tag-vio-blue: #783DC5;
    --tag-orange: #BC6600;
    --tag-orange: #8A61BB;
}