:root {
  --black: rgba(18,12,20,1.0);
  --black-second: #241828;
  --black-box: rgba(86,8,85,0.20);
  --white: #f9f1ff;
  --purple-dark: rgba(86,8,85,1.0);
  --purple-mid: rgba(163,38,143,1.0);
  --purple-light: #a979b0;

  --tag-green: #146284;
  --tag-purple-dark: #6b0c5c;
  --tag-vio-blue: #783dc5;
  --tag-orange: #bc6600;

  --purple-mid-dark: #610d53;
  --tag-green-dark: #0a3a4e;
  --tag-purple-dark-dark: #410538;
  --tag-vio-blue-dark: #381763;
  --tag-orange-dark: #643802;

  --purple-mid-dark-02: #4d0641;
  --tag-green-dark-02: #052c3d;
  --tag-purple-dark-dark-02: #380230;
  --tag-vio-blue-dark-02: #26094b;
  --tag-orange-dark-02: #3b2100;

  --purple-mid-trans: rgba(163,38,142,0.4);
  --tag-green-trans: rgba(20,98,132,0.4);
  --tag-purple-dark-trans: rgba(107,12,93,0.4);
  --tag-vio-blue-trans: rgba(120,61,197,0.4);
  --tag-orange-trans: rgba(188,103,0,0.4);
}
